.navbar a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  transition: 0.3s;
}

.navbar a:hover {
  opacity: 0.5;
}

.list-group-item.active a {
  color: white;
  font-weight: 600;
  font-size: 20px;
}

/* .list-group-item.active a:hover {
  text-transform: capitalize;
  text-decoration: none;
} */
